body{
    background:whitesmoke;
}
.web-part>div{
    margin-top: 100px;
}
.bg-img{
    top:56px;
}
.form,.text-box>*::placeholder{
    font-size: 14px;
}
.project-comment{
    font-size: 12px;
}
.text-container .img-title{
    font-size: 10vw;
}
.text-container .img-subtitle{
    font-size: 6vw;
}