<div class="content mx-auto col-11 col-md-10" id="portfolio">
    <div class="contact-text">
        <h3>Portfolio</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique reprehenderit consequuntur obcaecati totam voluptatem tenetur facere, nam voluptatum laboriosam ipsum provident earum est modi sed? Omnis adipisci ratione totam quod.</p>
    </div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="project col-12 col-md-6 col-lg-4">
                <div class="project-img mb-3">
                    <img class="object-fit-cover w-100" src="/website/assets/img/big-project-image.png" alt="portfolio-img1">
                </div>
                <div class="project-body">
                    <h5 class="project-name text-primary">
                        Project Name
                    </h5>
                    <p class="project-comment">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime dolorum nihil harum voluptates quod, in magnam fuga dignissimos saepe maiores placeat tenetur ipsa nemo similique voluptatibus illo nostrum, accusamus exercitationem.
                    </p>
                </div>
            </div>
            <div class="project col-12 col-md-6 col-lg-4">
                <div class="project-img mb-3">
                    <img class="object-fit-cover w-100" src="/website/assets/img/big-project-image.png" alt="portfolio-img1">
                </div>
                <div class="project-body">
                    <h5 class="project-name text-primary">
                        Project Name
                    </h5>
                    <p class="project-comment">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime dolorum nihil harum voluptates quod, in magnam fuga dignissimos saepe maiores placeat tenetur ipsa nemo similique voluptatibus illo nostrum, accusamus exercitationem.
                    </p>
                </div>
            </div>
            <div class="project col-12 col-md-6 col-lg-4">
                <div class="project-img mb-3">
                    <img class="object-fit-cover w-100" src="/website/assets/img/big-project-image.png" alt="portfolio-img1">
                </div>
                <div class="project-body">
                    <h5 class="project-name text-primary">
                        Project Name
                    </h5>
                    <p class="project-comment">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime dolorum nihil harum voluptates quod, in magnam fuga dignissimos saepe maiores placeat tenetur ipsa nemo similique voluptatibus illo nostrum, accusamus exercitationem.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
